.jumbotron {
    width: 0px auto;
    background-color: #9575cd;
    color: white;
    padding: 70px 30px 70px 30px;
    margin-bottom: 0px;
}



.about-us {
    margin-left: 10px;
}

.content {
    margin: 4em 1em 4em 2em;
}
.content-second {
    margin: 4em 1em 4em 2em;
}
.child-content {
    border-bottom: 1px solid lightgrey;
    margin-top: 4em;
}

.footer {
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.footer .text-center {
    margin-left: 10px;
}